body {background-color: #e9edf0;}
.h1 {
    padding: 10px 0; 
    text-align: center; 
    color: #999;
}
.logo {
    float: left;
    margin-top: -2px;
    margin-bottom: 0;
    font-size: 48px;
    color: #999;
}
.logo span {
    vertical-align: middle;
}
.logo img {
    width: 70px;
}
.header {
    background-color: rgba(0,0,0,0.8);
}
.header .main-nav {
    margin-left: 30px;
    max-height: 100%;
}
.main-nav {
    float: left;
}
.main-nav li {
    float: left;
    font-size: 18px;
    height: 58px;
    line-height: 58px;
    padding: 0 10px;
    list-style: none;
    cursor: pointer;
}
.main-nav li.active {
    border-bottom: 4px solid #fff;
}

.main-nav li:hover {
    background-color: rgba(255,255,255,0.4);
    border-bottom: 4px solid #fff;
}
.main-nav li a {
    color: #ddd;
}
.main-nav li:hover a{
    color: #fff;
}

.main-nav li a:hover {
    color: #fff;
    text-decoration: none;
}
p {
    padding: 10px; 
    font-size: 16px; 
    color: #999; 
    text-align: center;
}